body {
    background-image: url(stardewbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

div {}

header {
    background-color: rgba(255, 228, 196, 0);
}

main {
    background-color: rgba(255, 228, 196, 0);
}

.menu {
    width: 100%;
    height: 5vw;
    margin: auto;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #3994af;
}

.menu1 {
    float: left;
    width: 18vw;
    height: 100%;
    margin-left: 1%;
    padding-top: 1%;

    a {
        font-family: "Comic Sans MS";
        color: rgb(27, 44, 49);
        font-size: 2vw;
        text-decoration: none;
    }
}

.menu2 {
    float: left;
    width: 18vw;
    height: 100%;
    margin-right: 1%;
    padding-top: 1%;
    position: absolute;
    right: 19%;

    a {
        font-family: "Comic Sans MS";
        color: rgb(27, 44, 49);
        font-size: 2vw;
        text-decoration: none;
    }

}

.menu3 {
    float: left;
    width: 18vw;
    height: 100%;
    margin-right: 1%;
    padding-top: 1%;
    position: absolute;
    right: 0%;

    a {
        font-family: "Comic Sans MS";
        color: rgb(27, 44, 49);
        font-size: 2vw;
        text-decoration: none;
    }

}

.icon {
    float: left;
    width: 6vw;
    height: 100%;
    margin-left: 7%;

    img {
        width: 100%;
        height: 100%;
    }
}

.Name_Restoran {
    margin-top: 5%;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #c0edffc4;
}

.icon_name {
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 1%;
    margin-top: 1%;

    img {
        width: 100%;
        height: 100%;
    }
}

.name_res {
    float: left;
    width: 600px;
    height: 300px;
    margin-left: 1%;
    margin-top: 5%;
    background-color: #c0edff00;
    ;
    border-radius: 7% 7% 7% 7%;
}

.icon2 {
    margin: 10% 5% 5% 40%;
    width: 300px;
    height: 300px;
}

.name_restorane {
    width: 100%;
    height: 45%;

    p {
        font-family: "Comic Sans MS";
        color: rgb(58, 35, 23);
        font-size: 4vw;
    }
}

.name_restorane2 {
    width: 100%;
    height: 45%;

    p {
        font-family: "Comic Sans MS";
        color: rgb(29, 25, 23);
        font-size: 3vb;
    }
}

.menu_silki1 {
    width: 100%;
    height: 360px;
    margin-top: 2%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap
}

.menu_sil {
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    background-color: #e7fbffc2;
    border-radius: 10% 10% 10% 10%;

    a {
        padding: 10px;
        font-family: "Comic Sans MS";
        color: rgb(28, 41, 61);
        font-size: 30px;
        text-decoration: none;
        background-color: #79ceb1;
        border-radius: 15% 15% 15% 15%;
    }
}

.action {
    width: 100%;
    height: 655px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #d9f4ff48;
}

.action_text {
    width: 850px;
    height: 400px;
    margin-left: 1%;
    margin-top: 3%;
}

.p_2 {
    font-family: "Comic Sans MS";
    color: rgb(58, 35, 23);
    font-size: 50px;
}

.p_3 {
    font-family: "Comic Sans MS";
    color: rgb(58, 35, 23);
    font-size: 30px;
}

.p_4 {
    font-family: "Comic Sans MS";
    color: rgb(58, 35, 23);
    font-size: 15px;
}

.action_Photo {
    float: left;
    width: 500px;
    height: 500px;
    margin-top: 1%;

    img {
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
        clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    }
}

.footere {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.795);
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap
}

.osn {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap
}

.pro_menu_aaa {
    margin-top: 6%;
    width: 200px;
    height: 200px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10% 10% 10% 10%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10% 10% 10% 10%;
    }
}

@media (max-width: 1200px) {
    .name_res {
        display: none;
    }
}

@media (max-width: 1400px) {
    .action_Photo {
        display: none;
    }
}

@media (max-width: 1400px) {
    .footere {
        margin-top: 55%;
    }
}

.p_foot {
    font-family: "Comic Sans MS";
    color: rgba(240, 248, 255, 0.486);
    font-size: 10px;

}